<form class="form" action="#" method="post">
  <h2>FigTree</h2>
  <label for="Email">Email: </label><br>
  <input placeholder="Enter email address" type="email" id="email" name="email" required><br>

  <label for="password"> Create Password</label><br>
  <input placeholder="Create Password"type="text" id="password" name="password"><br>

  <label for="Confirm_Password"> Confirm Password</label><br>
  <input placeholder="Confirm Password"type="text" id="Confirm_Password" name="Confirm_Password"><br>

  <button type="button">Create Account</button>   
</form>