{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FigTree Hospital</title>
    <link href="{% static 'Images/icon.png' %}" rel="icon">
    <link href="{% static 'Styles/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header">
        <div><img class="logo-image" src="{% static 'Images/logo.png' %}"></div>
        <div class="logo"><span style="font-weight: bold;" >Fig</span>Tree
        </div>
        <div class="navbar">
          <nav>
            <ul class="navbar-links">
              <li><a href="{% static '#home-container' %}">Home</a></li>
              <li><a href="{% static '#services' %}">Services</a></li>
              <li><a href="{% static '#doctors' %}">Doctors</a></li>
              <li><a href="{% static '#facility' %}">Facility</a></li>
              <li><a href="{% static '#about' %}">About us</a></li>
            </ul>
          </nav>
        </div>
        {% if user.is_authenticated %}
        <div class="login">
          <a href="{% url 'logout' %}" class="button">Log Out</a>
        </div>
        {% else %}
        <div class="login">
          <a href="{% url 'signup' %}" class="button">Sign Up</a>
          <a href="{% url 'login' %}" class="button">Log In</a>
        </div> 
        {% endif %}
      </div>
    </header>
    <main>
      <div class="outside-home">
        <div id="home-container">
          <div class="text-content">
            <div class="header-2"><h1>We prioritize your well-being</h1></div>
            <div>
              <p>Our hospital is committed to your health, utilizing cutting-edge technology and expert care. We prioritize patient education and well-being, ensuring a comfortable, compassionate experience. Join our community dedicated to your health.</p>
            </div>
            <div class="sign">
              <input type="text" class="home-input">
              <button class="home-signup">Sign Up</button>
            </div>
            <div class="home-buttons">
              <button class="buttons"> Book Now</button>
              <button class="image-text-button">
                <a href="{% static 'https://www.youtube.com/watch?v=hhmnHWxDLYg' %}">
                <img src="{% static 'Images/video-play-icon-15.gif' %}" alt="Icon"  class="button-icon"></a>
                <span class="button-text">Play Video</span>
            </button>          
            </div>
          </div>
          <div>
            <img style="width: 600px;height: 450px;" class="home-image" src="{% static 'Images/surgery-1822458_1280.jpg' %}" alt="home">
          </div>
        </div>
      </div>
      <div class="stats-container">
        <div class="stat-item">
            <h2>98%</h2>
            <p>success rate in surgical procedures</p>
        </div>
        <div class="stat-item">
            <h2>150,000+</h2>
            <p>patients annually</p>
        </div>
        <div class="stat-item">
            <h2>10,000+</h2>
            <p>virtual consultations conducted yearly</p>
        </div>
        <div class="stat-item">
            <h2>90%</h2>
            <p>of inquiries responded to within 10 minutes</p>
        </div>
    </div>
      <div  id="services">
        <h1><span style="color: gray;">Our Best</span> Services</h1>
      </div>
      <div class="specialists">
        <div class="bg-color3">
          <img src="{% static 'Images/ai-generated-8881542_1280.jpg' %}">
          <h3> All Specialist</h3>
          <div >Our hospital offers specialized medical services, including advanced cardiac care, neurology, and oncology treatments.</div>
        </div>
        <div class="bg-color3">
          <img src="{% static 'Images/data safety.jpg' %}">
          <h3>Private & Secure</h3>
          <p>At our hospital, we prioritize the security of your personal and medical data by implementing advanced encryption protocols and secure access controls.</p>
        </div>
        <div class="bg-color3">
          <img src="{% static 'Images/customer-service-1433639_1280.png' %}">
          <h3> Million Customers</h3>
          <p>Our hospital proudly serves over a million customers, providing top-quality healthcare services tailored to meet diverse medical needs.</p>
        </div>
        <div class="bg-color3">
          <img src="{% static 'Images/chatbot-4071274_1280.jpg' %}">
          <h3> Chatbot Support</h3>
          <p>Our hospital now offers 24/7 chatbot services to assist patients with appointment scheduling, medical inquiries, and more.</p>
        </div>
      </div>
      <div class="special-services">
        <div class="bg-color">
          <img src="{% static 'Images/reynardo-etenia-wongso-EHmoH8aCQqU-unsplash.jpg' %}">
          <h4>Baby Health</h4>
        </div>
        <div class="bg-color">
          <img src="{% static 'Images/stomach-1051854_1280.png' %}">
          <h4>Stomack</h4>
        </div>
        <div class="bg-color">
          <img src="{% static 'Images/pyschiarity.jpg' %}">
          <h4>Psychiarity</h4>
        </div>
        <div class="bg-color">
          <img src="{% static 'Images/urology.jpg' %}">
          <h4>Urology</h4>
        </div>
        <div class="bg-color">
          <img src="{% static 'Images/dermatologist-6853066_1280.png' %}">
          <h4>Dermatology</h4>
        </div>
        <div class="bg-color">
          <img src="{% static 'Images/infectious.jpg' %}">
          <h4>Infectious Disease</h4>
        </div>
      </div>
      <div>
        <h2> Are You Looking For:</h2>
      </div>
      <div id="looking">
        <div class="bg-color4">
          <h2>Doctors</h2>
          <p class="text">Our doctors are highly skilled professionals dedicated to providing compassionate and comprehensive care to every patient. </p>
        </div>
        <div class="bg-color4">
          <h2>Consult</h2>
          <p class="text"> Our hospital offers comprehensive consultations with experienced specialists to address a wide range of medical concerns and ensure personalized care.</p>
        </div>
        <div class="bg-color4">
          <h2>Pharmacy</h2>
          <p class="text"> Our hospital pharmacy is dedicated to providing safe, effective, and personalized medication management for all patients. </p>
        </div>
        <div class="bg-color4">
          <h2>Diagnostics</h2>
          <p class="text"> At our hospital, we utilize cutting-edge diagnostic technologies to accurately assess and diagnose a wide range of medical conditions. </p>
        </div>
      </div>
      <div >
        <h1 class="h-doctors"><span style="color: grey;"> Our Best</span> Doctors</h1>
      </div>
      <div id="doctors" class="best-doctors">
        <div class="bg-color1">
          <img src="{% static 'Images/doctor1.jpg' %}">
          <h4>Dr. Hamilton John, PHD</h4>
          <p> Diagnose and treat diseases and disorders of the heart and blood vessels, such as heart attacks, arrhythmias and hypertension.</p>
        </div>
        <div class="bg-color1">
          <img src="{% static 'Images/doctor2.jpg' %}">
          <h4>Dr. Kimutai Peter, PHD</h4>
          <p>Uses imaging techniques, electroencephalograms (EEGs) and other diagnostic tools to assess neurological conditions and develop treatment plans.</p>
        </div>
        <div class="bg-color1">
          <img src="{% static 'Images/doctor3.jpg' %}">
          <h4>Dr. Sha Patel, PHD</h4>
          <p>Specializes in the medical care of infants and adolescents, managing their growth, development and a health issues from minor illnesses to complex conditions.</p>
        </div>
        <div class="bg-color1">
          <img src="{% static 'Images/ai-generated-8655320_1280.png' %}">
          <h4>Dr. Kinuthia Kebaso, PHD</h4>
          <p>Focus on diagnosing and treating injuries and diseases of the musculoskeletal system, including bones, joints, muscles, and ligaments.</p>
        </div>
      </div>
      <div>
        <h1 class="easy-steps"><span style="color: gray;">Easy Steps And</span> Get Your Solution</h1>
      </div>
      <div class="solutions">
        <div class="steps">
          <div>
            <img  src="{% static 'Images/doctor.jpg' %}">
          </div>
            <h4>Check Doctor's Profile</h4>
            <p>You check the doctor's profile and make an appointment</p>
        </div>
        <div class="steps">
          <img src="{% static 'Images/consult.jpg' %}">
          <h4>Request Consultation</h4>
          <p>Once you make an appointment, you will get an email of confirm for your consultation</p>
        </div>
        <div class="steps">
          <img src="{% static 'Images/ai-generated-8881542_1280.jpg' %}">
          <h4>Receive Your Consultation</h4>
          <p>You come on the day of appointent and receive your consultation</p>
        </div>
        <div class="steps">
          <img src="{% static 'Images/solution.jpg' %}">
          <h4>Get Your Solution</h4>
          <p>You are treated and given medication</p>
        </div>
      </div>
      <div class="book-doctor">
        <div class="text-content">
          <h1><span style="color: gray;">Best Doctor</span> Anywhere And Anytime</h1>
          <p>Our hospital offers 24/7 emergency services that extend beyond the walls of our facility, providing critical care and medical assistance wherever you need it. Whether it's at the scene of an accident, at home, or on the road, our highly trained medical team is equipped with the latest technology and mobile units to deliver life-saving treatment on the spot. We ensure swift and effective response during emergencies, coordinating with local resources and using advanced telemedicine for remote diagnosis and guidance until you arrive safely at our hospital or receive the necessary care on-site. Your health and safety are our top priority, anytime and anywhere.</p>
          <button class="buttons"> Find Doctor Now</button>
        </div>
        <div>
          <img style="width:600px; height: 400px;" class="home-image" src="{% static 'Images/ambulance-2901017_1280.jpg' %}">
        </div>
      </div>
      <div class="appointment">
        <div>
          <img class="home-image" src="{% static 'Images/national-cancer-institute-lTZUfrst5fM-unsplash.jpg' %}">
        </div>
        <div class="text-content">
          <h1><span style="color: gray;">Comprehensive</span> Online Care<span style="color: gray;"> Service 24/7</span> </h1>
          <p>Our hospital offers a comprehensive urgent online care service, providing patients with immediate access to medical professionals from the comfort of their homes. Whether you need consultation for sudden illnesses, minor injuries, or ongoing health concerns, our dedicated team of doctors and nurses is available 24/7 through our secure online platform. With quick virtual assessments, prescription services, and follow-up care, we ensure that you receive timely and effective medical attention without the need to visit the hospital in person. Your health and well-being are our priority, and we strive to deliver exceptional care whenever you need it.</p>
          <button class="buttons js-appointment"> Take Appointment</button>
        </div>
      </div>
      <div id="about">
        <h1><span style="color: gray;">What People Say</span> About Us</span></h1>
      </div>
      <div class="aboutUs">
        <div class="bg-color2">
          <img src="{% static 'Images/african-man-7849598_1280.jpg' %}">
          <h4>Name</h4>
          <p>They are the best consultants</p>
        </div>
        <div class="bg-color2">
          <img src="{% static 'Images/african-woman-8738173_1280.jpg' %}">
          <h4>Name</h4>
          <p>They are the best consultants</p>
        </div>
      </div>
      <div class="submit">
        <div>
          <h1> <span style="color: rgb(104, 100, 100);">Want to</span> Talk<span style="color: rgb(104, 100, 100);"> To Us ?</span></h1>
        </div>
        <div>
          <button class="buttons" id="sub-here"> Submit Here</button>
        </div>
      </div>
    </main>
      <footer>
        <div class="footer">
          <div class="footer-section">
            <div class="logo-footer"><img class="logo-image" src="{% static 'Images/logo.png' %}">
            <span style="font-weight: bold;padding-bottom: 20px;" >Fig</span>Tree</div>
            <div style="width: 70%;">Our hospital is committed to your health, utilizing cutting-edge technology and expert care. We prioritize patient education and well-being, ensuring a comfortable, compassionate experience. Join our community dedicated to your health.</div>
            <div id="socials">
              <a href="{% static 'https://twitter.com' %}"><img style="width:30px; height: 30px"src="Images/twitter.png"></a>
              <a href="{% static 'https://linkedin.com' %}"><img style="width:35px; height: 35px;"src="Images/linkedin.png"></a>
              <a href="{% static 'https://www.gmail.com' %}"><img style="width:23px; height: 25px; margin-right:5px"src="Images/email.png"></a>
              <a href="{% static 'https://www.facebook.com/' %}"><img style="width:20px; height: 20px;" src="Images/facebook.png"></a>
            </div>
          </div> 
          <div>
            <nav class="footer-section">
              <h4> Services</h4>
              <ul>
                <li><a href="{% static '#home' %}">Delivery Support</a></li>
                <li><a href="{% static '#services' %}">Contact Us</a></li>
                <li><a href="{% static '#Terms of Use' %}">Terms of use</a></li>
                <li><a href="{% static '#Terms of Use' %}">Private Policy</a></li>
              </ul>
            </nav>
          </div> 
          <div>  
            <nav class="footer-section">
              <h4> Feature</h4>
              <ul>
                <li><a href="{% static '#home-container' %}">Home</a></li>
                <li><a href="{% static '#services' %}">Services</a></li>
                <li><a href="{% static '#doctors' %}">Doctors</a></li>
                <li><a href="{% static '#facility' %}">Facility</a></li>
                <li><a href="{% static '#about' %}">About us</a></li>
              </ul>
            </nav>
          </div> 
          <div>  
            <nav class="footer-section">
              <h4> User</h4>
              <ul>
                <li><a href="{% static '#home' %}">User Login</a></li>
                <li><a href="{% static '#services' %}">User Register</a></li>
                <li><a href="{% static '#doctors' %}">Forgot Password</a></li>
                <li><a href="{% static '#facility' %}">Account Settings</a></li>
              </ul>
            </nav>
          </div>  
        </div>
        <div class="copyright">
          ©Designed by Victor Kipkurui. All Rights Reserved.
        </div>
      </footer>
    <script src="{% static 'Scripts/index.js' %}"></script>
  </body>
</html>